@import "reset";
@import "var";
@import "fonts";

//devs
@import "inner-shawon";
@import "inner-sajid";
@import "inner-fuad";
@import "inner-atik";
@import "inner-tonmoi";


//inner banner
.inner-banner {
  position: relative;
  padding-top: calc(500 / 1366 * 100%);

  &:before {
    @extend %overlay;
    background-color: rgba(0, 0, 0, 0.60);
  }

  h2 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 200;
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media(max-width: 768px) {
    padding-top: calc(500 / 414 * 100%);
  }

}





